.main-container-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
}

.logo {
	font-size: 24px;
	font-weight: bold;
}
.logo a {
	width: 100%;
	height: 100%;
}
.logo a img {
	width: 65px;
	height: 65px;
}

.login-btn {
	background-color: #f5f5f5;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
}

.add-new-card-visit {
	padding: 10px 20px;
	background-color: #007bff;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.add-new-card-visit:hover {
	background-color: #0056b3;
}

.add-new-card-visit:focus {
	outline: none;
	box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.add-new-card-visit:active {
	background-color: #004080;
}
.header__btn-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 30px;
}
