/* search */
.search-container {
	display: none;
	justify-content: flex-start;
	margin-bottom: 20px;
}

.search-container input[type='text'] {
	display: flex;
	justify-content: flex-start;
	width: 100%;
	max-width: 200px;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-right: 10px;
	flex-grow: 1;
}

.search-container select {
	display: flex;
	justify-content: flex-start;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-right: 10px;
}

.search-container button {
	display: flex;
	justify-content: flex-start;
	padding: 8px 16px;
	background-color: #4caf50;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.search-container button:hover {
	background-color: #45a049;
}

@media screen and (max-width: 600px) {
	.search-container {
		display: flex;
		flex-direction: column;
		align-items: stretch;
	}

	.search-container select {
		margin-bottom: 10px;
	}
}

/* card */

.card__container {
	position: relative;

	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 30px;
}

.card {
	background-color: #f5f5f5;
	padding: 20px;
}

/* modal login */

.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
	overflow: scroll;
}

.modal-container {
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.modal-title {
	margin-bottom: 10px;
}

.modal-form {
	display: flex;
	flex-direction: column;
}

input {
	width: 100%;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 3px;
}

.modal-submit-btn {
	padding: 10px 20px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}

.modal-submit-btn:hover {
	background-color: #0056b3;
}

/* modal new elem */

.modal-new-element-container {
	width: 400px;
	padding: 20px;
	background-color: #f0f0f0;
	border: 1px solid #ccc;
}

.modal-new-element-title {
	text-align: center;
	font-size: 24px;
	margin-bottom: 10px;
}

.modal-new-element-form,
.modal-new-element-info-box {
	display: flex;
	flex-direction: column;
}

.modal-new-element-form input,
.modal-new-element-form select {
	margin-bottom: 10px;
	padding: 5px;
	border: 1px solid #ccc;
}

#submit-btn {
	padding: 10px 20px;
	background-color: #007bff;
	color: #fff;
	border: none;
	cursor: pointer;
}
#priority,
#last-visit-date {
	width: 65%;
	align-self: flex-end;
}
.modal-new-element-select-priority-box,
.modal-new-element-last-visit-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#description {
	margin-bottom: 10px;
}

/* spinner */
.spinner {
	width: 20px;
	height: 20px;
	margin: 0 auto;
	border-radius: 50%;
	border: 3px solid #f3f3f3;
	border-top-color: #333;
	animation: spin 1s infinite linear;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
/* Card style  */

.client-card__container {
	display: flex;
	flex-direction: column;
	width: 30%;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
	background-color: #f5f5f5;
}

.edit-btn,
.delete-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 25px;
	height: 25px;
	background-color: #f1f1f160;
	color: #fff;
	border-radius: 3px;
	cursor: pointer;
	margin-right: 5px;
}
.btn-box {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.showMore-btn {
	display: inline-block;
	padding: 8px 16px;
	background-color: #3aaaf0;
	color: #ffffff;
	border: none;
	border-radius: 4px;
	font-size: 14px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.showMore-btn:hover {
	background-color: #0f679d;
}

.client-card__name,
.client-card__doctor {
	font-weight: bold;
	margin-bottom: 5px;
}

.additional-info {
	margin-bottom: 5px;
}

.additional-info__pressure,
.additional-info__weight,
.additional-info__heart-disease,
.additional-info__age,
.additional-info__last-visit {
	margin-bottom: 5px;
}
/**/

.item-have-been {
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: rgba(128, 128, 128, 0.651);
	font-weight: 700;
	text-transform: capitalize;
	font-size: 18px;
	z-index: 999;
}

.none {
	display: none;
}

.invalid-input {
	border: red 2px solid !important;
}

.invalid-input::placeholder {
	color: rgba(255, 0, 0, 0.5);
}

.invalid-input-message {
	color: red;
	font-size: 14px;
}

/* btn box*/
.main-btn-box {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
}
.status-bar {
	display: inline-flex;
	align-items: center;
	pointer-events: none;
}

.status-bar__oval {
	width: 40px;
	height: 20px;
	border-radius: 35%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ccc;
	margin-right: 5px;
	transition: background-color 0.3s ease;
}

.status-bar__oval.done {
	background-color: green;
}

.status-bar__text {
	font-size: 12px;
	font-weight: bold;
	color: #333;
}

.status-bar__text.done {
	color: white;
}
