@import url(./header.css);
@import url(./main.css);
html,
body {
	margin: 0;
	padding: 0;
}
* {
	z-index: 3;
}
body {
	min-height: 100vh;
	background-image: linear-gradient(
		50deg,
		hsl(240deg 87% 35%) 72%,
		hsl(288deg 100% 27%) 93%,
		hsl(316deg 100% 29%) 99%,
		hsl(331deg 100% 32%) 101%,
		hsl(342deg 100% 33%) 101%,
		hsl(351deg 93% 34%) 102%,
		hsl(18deg 91% 33%) 101%,
		hsl(32deg 100% 29%) 101%,
		hsl(44deg 100% 26%) 101%,
		hsl(56deg 69% 28%) 100%
	);
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 1;
}
.main-container-block {
	width: 90%;
	margin: 0 auto;
}
.bg-logo {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 200px;
	height: 200px;
	background-image: url('../assets/images/logo.png');
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 2;
}
.none {
	display: none;
}
